@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

:root {
    --blue-600: #005cd1;
    --indigo-600: #570fc6;
    --purple-600: #5e379f;
    --pink-600: #bc2c6e;
    --red-600: #c12e3d;
    --orange-600: #dd6a26;
    --yellow-600: #dba22b;
    --green-600: #008c40;
    --teal-600: #00a980;
    --cyan-600: #008899;

    --blue-200: #78b4fb;
    --indigo-200: #b183f4;
    --purple-200: #b59ddc;
    --pink-200: #f195be;
    --red-200: #f4969f;
    --orange-200: #ffbc8a;
    --yellow-200: #ffdf86;
    --green-200: #86d1a0;
    --teal-200: #7de3ca;
    --cyan-200: #7acfd9;
}

* {
    box-sizing: border-box;
}

body {
    background: #c5ddeb;
    font: 14px/20px "Lato", sans-serif;
    padding: 0;
    color: white;
}